[ambari]
name=ambari
baseurl={{ repository.ambari_baseurl }}
gpgcheck=0
enabled=1
[hdp]
name=HDP
baseurl={{ repository.hdp_baseurl }}
gpgcheck=0
enabled=1
[hdp-util]
name=HDP_UTILS
baseurl={{ repository.hdp_utils_baseurl }}
gpgcheck=0
enabled=1