{
  "blueprint" : "{{ ambari['blueprint_name'] }}",
  "default_password" : "{{ ambari['default_password'] }}",
  "host_groups" :[
    {
      "name" : "ambari",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['ambari'][0]]['inventory_hostname'] }}"
        }
      ]
    },
    {
      "name" : "master1",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['master1'][0]]['inventory_hostname'] }}"
        }
      ]
    },
    {
      "name" : "master2",
      "hosts" : [
        {
          "fqdn" : "{{ hostvars[groups['master2'][0]]['inventory_hostname'] }}"
        }
      ]
    },
    {
      "name" : "slaves",
      "hosts" : [
      {% for host in groups['slaves'] %}
        {
          "fqdn" : "{{ hostvars[host]['inventory_hostname'] }}"
        }{% if not loop.last %}
        ,
        {% endif %}
      {% endfor %}
      ]
    }
  ]
}
